

section {
  height: 800px;
  background-image: linear-gradient(to bottom, rgba(0, 121, 193, 0.75) 0%, rgba(70, 93, 255, 0.75) 100%);
}
section h1 {

  margin-bottom: 350px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

.timeline {
  width: 100%;
  position: relative;
  perspective: 5000px;
}
.timeline:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background-color: #d5dfe5;
  border-radius: 15px;
  top: 76px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
