<section>
<div class="container">
  <h1 class="text-center">{{tradeFlow.name}}
    <h6>{{tradeFlow.bookingReference}}</h6>
  </h1>

  <div class="row">
  <div class="timeline flex-container " (mouseleave)="onMouseLeave()"
  >
    <app-status *ngFor="let event of tradeFlow.steps"
                (removeSelected) = "onRemoveSelected()"
                (showBounce) = "showBounce($event)"
                (dropDownFollow)="onDropDownFollow($event)"
                (setHovered)="onHovered()"
                [step]="event"
    >
  </app-status>
    <app-data ></app-data>
  </div>
  </div>
</div>
</section>
