
.dropdown {
  width: 400px;
  height: 326px;
  background: white;
  box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: -310px;
  animation-duration: .2s;
  transition: left .3s ease;
}
.dropdown .inner {
  position: relative;
  width: 100%;
  height: 326px;
}
.dropdown .inner .arrow-down {
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

.animated {
  display: block;
}
