<div class="dropdown animated bounceIn"
     [ngClass]="{'bounceIn':isBounceIn===true,
                 'fadeOut':isFadeOut===true,
                 'animated':isAnimated===true}"
     style="left: 33px;"
     [ngStyle]="{'left':position+'px'}"
>
  <div class="inner">
    <div class="arrow-down"></div>
  </div>
</div>
