<div class="timeline-item flex-items-default "
     (mouseenter)="onMouseEnter()"
     >
  <div class="timeline-content text-left "
        [@divState]="state">
    <h2  *ngIf="step.type==='departure'; else arrival " >
      <p [ngStyle]="{'bold':true}">Pick-up location</p>
      <h5><img src="assets/Images/Country/{{step.locationCity}}.png" [ngStyle]="{'maxHeight.px': 25 ,'marginRight.px':30  }">{{step.locationCountry}}</h5>
      <p>Departure date: </p><h5> {{step.time}}</h5>
    </h2>

    <ng-template #arrival>
      <h2 [ngStyle]="{'bold':true}">
        <p [ngStyle]="{'bold':true}"> Drop-off location location</p>
        <h5><img src="assets/Images/Country/{{step.locationCity}}.png" [ngStyle]="{'maxHeight.px': 25 ,'marginRight.px':30  }">{{step.locationCountry}}</h5>
        <p>Arrival date: </p><h5> {{step.time}}</h5>
      </h2>

    </ng-template>

    <div class="hexagon"></div>
      <i class="material-icons">  <img src="assets/Images/vessel/{{step.vesselName}}.png"
                                       [ngStyle]="{'maxHeight.px': 50  }">
      </i>
    <h6>{{step.vesselName}}</h6>
    Container reference:     <img src="assets/Images/container/{{step.container}}.png" [ngStyle]="{'maxHeight.px': 25 ,'marginRight.px':10  }">{{step.container}}

  </div>

</div>
