
 .timeline-item {
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
 .timeline-item:hover:after {
  transform: scale(1.5, 1.5);
}
 .timeline-item.selected:after {
  background-color: #1c77c3;
  border: 5px solid #56cbf9;
  transform: scale(1.5, 1.5);
}
 .timeline-item:after {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 69px;
  left: 50%;
  margin-left: -15px;
  background-color: #f5efed;
  border: 5px solid #d5dfe5;
  content: "";
  border-radius: 50%;
  transition: transform .5s ease;
}
 .timeline-item .timeline-content {
  position: absolute;
  top: -300px;
  display: none;
  width: 350px;
  left: -60px;
  cursor: auto;
}
 .timeline-item .timeline-content.fadeIn {
  animation-delay: .2s;
}
 .timeline-item .timeline-content.animated {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-items-default {
  width: 224px;
  height: 150px;
}
 h2 {
   font-family: 'Roboto', sans-serif;
 }
 h6 {
  margin-top: 50px;
   text-align: center;
   margin-bottom: 10px;
 }
 p{
   font-size: 16px;
   font-weight: bold;
 }
 .material-icons {
   position: absolute;
   top: 165px;
   left: 150px;
   width: 100%;
   color: white;
   font-size: 33px;
 }

 .hexagon {
   position: relative;
   width: 75px;
   height: 43.30px;
   background-color: #1c77c3;
   left: 50%;
   margin: 21.65px 0 21.65px -37px;
   top: 25px;
 }

 .hexagon:before,
 .hexagon:after {
   content: "";
   position: absolute;
   width: 0;
   border-left: 37.5px solid transparent;
   border-right: 37.5px solid transparent;
 }

 .hexagon:before {
   bottom: 100%;
   border-bottom: 21.65px solid #1c77c3;
 }

 .hexagon:after {
   top: 100%;
   width: 0;
   border-top: 21.65px solid #1c77c3;
 }
